<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Joke</title>
  <link rel="stylesheet" href="public/styles/main.css">
</head>
<body>
    <section id="home">
        <div class="card">
          <div class="card-header">
            <h1>Get a Joke</h1>
          </div>
          <div class="card-body">
            <p>Click the button below to get a joke.</p>
            <button id="get-joke">Get Joke</button>
            <div id="joke"></div>
          </div>
        </div>
    </section>
</body>
</html>
